{
  "printWidth": 80,
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2
}
